# Ignore node_modules directory
node_modules/
node_modules/
node_modules/

# Ignore Parcel cache directories
parcel-cache/
.parcel-cache/
coverage/

# Ignore npm lock files
yarn.lock

# Ignore compiled files
/dist/

# Ignore environment variables file
.env

# Ignore IDE and editor-specific files
.vscode/
.idea/
*.iml

# Ignore logs and build files
*.log
/build/
